In [1]:
import pandas as pd

In [10]:
data = pd.read_csv("leads.csv")

In [36]:
def read_excel_dynamic(filepath):
	df = pd.read_excel(filepath)
 
	non_empty_row = next((i for i, row in df.iterrows() if not row.isnull().all()), None)
	if non_empty_row is not None:
		df.columns = df.iloc[non_empty_row]
		df = df.iloc[non_empty_row+1:]
		non_empty_col = df.notna().any(axis=0)
		df = df.loc[:, non_empty_col]
	else:
		print("Excel file seems to be empty!")
		df = pd.DataFrame()
	return df

filepath = 'leads.xlsx'
df = read_excel_dynamic(filepath)
df.head(n=15)

3,Name,Job Title,Organizaton,Company Size,Department,Project Title,Looking For,Lead Response
4,Yaqub Qamar Ad Din Dibiazah,Director Engineering,Imaarat Tech,50-100,Engineering,CentDoc,"In the past, the company encountered an issue ...",Thanks for reaching out. Our procurement team ...
5,Joe Steve,CTO,Anz LLC,25-50,Content,ConSys,Anz LLC is a company that creates SEO-enabled ...,Thank you for contacting us. Please find the a...
6,Sophia Rodriguez,Lead Developer,TechSprint Innovations,250-400,Engineering,AutoCode,TechSprint Innovations is focused on automatin...,"For the scope of this project, we require a so..."
7,Ayesha Raza,Marketing Manager,LuxeDrive Rentals,7,-,CarElite,LuxeDrive Rentals specializes in providing lux...,"Hi. As we're starting out, our budget for this..."